* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* ===== NAVBAR ===== */
        nav {
            background-color: #000;
            padding: 12px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        nav h2 {
            color: #fff;
            margin: 0;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 40px;
            margin: 0;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            padding: 8px 12px;
            border-radius: 4px;
            transition: 0.3s;
        }

        nav ul li a:hover {
            background-color: #084298;
        }